
    #bg{
        background-color: white;
    }

    #loginCard{
        position: relative;
        margin-top: 10%;
        background-color: lightskyblue;
    }

    #logo{
        position: relative;
        margin-top: 5%;
    }

    #loginButton{
        width: 100%;
    }

    #SignupButton{
        width: 100%;
    }

    #charity{
        align-content: center;
    }

    #userStyle{
        background-color: white;
    }


