page-home {
    #bg{
        background-color: lightskyblue;
    }

    #loginCard{
        position: relative;
        margin-top: 70%;
        opacity: 50%;
    }

    #loginButton{
        width: 100%;
    }

    #SignupButton{
        width: 100%;
    }

    #charity{
        align-content: center;
    }
}
